
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  background-image: 
  url("https://media.giphy.com/media/RHIKETUlUINYvV7CAO/giphy.gif");
  background-size:cover;
  height: 100%;
  display: flex;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
  background-size:cover;
  height: 800px;
  width: auto;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem;
}

h1 {
  /* display: flex; */
  font-family: 'Raleway', sans-serif;
  color: aliceblue;
  font-size: 50px; 
  border: 5px;
  padding: 5px;
  margin: 5px;
  display: block;
  align-items: center;
  height: auto;
  text-align: center;
  text-shadow:
  inset 0 -0.6em 1em -0.35em 
  rgba(87, 85, 85, 0.17),
  inset 0 0.6em 2em -0.3em
  rgba(173, 170, 170, 0.15),
  inset 0 0 0em 0.05em 
  rgba(233, 230, 230, 0.12);
}
h4 {
  /* display: flex; */
  font-family: 'Lato', sans-serif;
  color: aliceblue;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem;

}

.btn {
  font-family: 'Lato', sans-serif;
  font-size: 12px; 
  width: 20px;
  border: 5px;
  padding: 5px;
  margin: 5px;
  color: rgb(53, 51, 51);
  background-color: #d3e0ec;
 box-shadow:
  inset 0 -0.6em 1em -0.35em 
  rgba(122, 119, 119, 0.17),
  inset 0 0.6em 2em -0.3em
  rgba(173, 170, 170, 0.15),
  inset 0 0 0em 0.05em 
  rgba(233, 230, 230, 0.12);

  align-self: auto;
  cursor: pointer;
  border-radius:0.2em;
  box-sizing: border-box;
}
.text-btn {
  font-family: 'Lato', sans-serif;
  font-size: 12px; 
  border: 5px;
  padding: 5px;
  margin: 5px;
  color: rgb(53, 51, 51);
  background-color: #d4e6f8;
  box-shadow: 
  0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow:
  inset 0 -0.6em 1em -0.35em 
  rgba(87, 85, 85, 0.17),
  inset 0 0.6em 2em -0.3em
  rgba(173, 170, 170, 0.15),
  inset 0 0 0em 0.05em 
  rgba(233, 230, 230, 0.12);

  align-self: auto;
  cursor: pointer;
  border-radius:0.2em;
  box-sizing: border-box;
}

.text-btn:hover {
  background-color: #5091a1;
}

.search-box-div {
  text-align: center;
  justify-content: center;
  display: flex
}

.search-box {
  width: fit-content;
  font-family: 'Lato', sans-serif;
  font-size: 12px; 
  border: 5px;
  padding: 5px;
  margin: 5px;
  color: rgb(53, 51, 51);
  background-color: #cad6e2a6;
 box-shadow:
  inset 0 -0.6em 1em -0.35em 
  rgba(0,0,0,0.17),
  inset 0 0.6em 2em -0.3em
  rgba(255,255,255,0.15),
  inset 0 0 0em 0.05em 
  rgba(255,255,255,0.12);

  align-self: auto;
  border-radius:0.2em;
  box-sizing: border-box;
}

.form {
  text-align: center;
  justify-content: center;
  border: 5px;
  padding: 5px;
  margin: 5px;
}
.input {
  font-family: 'Lato', sans-serif;
  background-color: #adb9c5;
  border: 5px;
  padding: 5px;
  margin: 5px;
  font-size: 12px; 
  align-self: auto;
  border-radius:0.2em;
  box-sizing: border-box;
  
}

.input:hover {
  background-color: #8d989b;
}
.profile-wrapper {
  display: flex;
  flex-wrap: wrap;  
  border: 5px;
  padding: 5px;
  margin: 5px;
}

 .profile {
  justify-content: center;
  color: rgb(91, 88, 88);
  border: 10px;
  padding: 10px;
  margin: 10px;
  border-radius: 2px;
  background-color: #adb9c5;
}

.profile-pic {
  /* display: flex; */
  align-items: center;
  justify-content: space-around;
  border-radius: 0.4rem;
  background-color: #bba1b7;
  width: 150px;
  border: 10px;
  padding: 10px;
  margin: 10px;
  border-radius: 2px;
}

 .profile-name-plate {
  display: flex;
  justify-content: space-between;
}

.profile .profile-name {
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem;

}

.profile .profile-sign {
  font-style: italic;
  font-size: 1rem;
  margin: 0.5rem;
}

